@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Playfair Display', serif;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
    outline: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF6E0;
    color: #01161E;
}

.logo {
    width: 280px;
    margin-top: 10px;
}

ul {
    width: 25%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

a:hover,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

main {
    background-color: #AEC3B0;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 70vh;
    padding: 40px 50px;
    background-image: url("../assets/banner.png");
    background-size: cover;
}

h1 {
    width: 60%;
    font-size: 70px;
    color: #01161E;
    text-align: center;
    font-family: 'Pirata One', cursive;
}

span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
}

form {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

select {
    padding: 5px;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    color: #01161E;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(174, 195, 176, 0.5);
    border: 1px black solid;
}

.search-btn, .reset-btn {
    border: 1px black solid;
    cursor: pointer;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    color: #01161E;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(214, 234, 223, 0.5);
    margin-left: 10px;
}

fieldset{
    border: none;
}

#form{
    color: #01161E;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#jobs-container {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.job-card{
    width: 26%;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 20px 10px;
    background-image: url("../assets/rope.png");
    background-size: cover;
}

.job-card img{
    width: 200px;
    margin-top: 10px;
}

.job-card h3{
    font-size: 25px;
    font-weight: bold;
}

.job-card i{
    margin-bottom: 10px;
    font-size: 30px;
}

.add-job-container {
    display: none;
    width: 100%;
    height: 150vh;
    padding: 100px;
    background-size: cover;
    margin-bottom: 10px;
}

input {
    width: 90%;
    height: 50px;
    padding: 5px;
    margin: 15px 0px;
    border: none;
    border-radius: 5px;
    color: #01161E;
    font-size: 25px;
    background-color: #E8DBB2;
    font-family: 'Pirata One', cursive;
}

input:focus {
    border: none;
    outline: none;
}


label {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Pirata One', cursive;
}

.modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    width: 50%; /* en celular poner width 80% y margin 20px, subi el tamaño del input*/
    margin: 5% auto;
    padding: 10px 15px 20px 30px;
    background-image: url("../assets/paper.jpg");
    background-size: cover;
    border-radius: 10px;
}

.close {
    color: #1f1f1f;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

input[type='radio']{
    height: 20px;
}

.submit-btn{
    width: 100px;
    background-color: red;
}

#job-container{
    display: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-2 {
    width: 100%;
    height: 50vh;
    background-image: url("../assets/banner-2.jpg");
    background-size: cover;
}

.job-content {
    margin-top: 20px;
    width: 70%;
    padding: 130px;
    font-size: 20px;
    background-image: url("../assets/rope.png");
    background-size: cover;
}

.job-content h2 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Pirata One', cursive;
    margin-bottom: 20px;
}

.btn-edit, .btn-delete {
    width: 130px;
    padding: 8px;
    margin: 10px 10px 50px 0px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;

}

.job-content p{
    margin-bottom: 10px;
}



#alert{
    display: none;
}
