@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF6E0;
    color: #01161E;
}

.logo {
    width: 280px;
    margin-top: 10px;
}

ul {
    width: 25%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

a:hover,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

main {
    background-color: #AEC3B0;
}

.banner {
    width: 100%;
    height: 70vh;
    background-image: url("../assets/banner.png");
    background-size: cover;
    margin-bottom: 10px;
}

h1 {
    width: 70%;
    padding: 20px;
    color: #01161E;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    font-family: 'Pirata One', cursive;
}

span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 68px;
}

form {
    width: 100%;
    max-width: 1100px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

select {
    padding: 5px;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    color: #01161E;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(174, 195, 176, 0.5);
    border: 1px black solid;
    font-family: 'Playfair Display', serif;
}

.search-btn, .clear-btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px black solid;
    cursor: pointer;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    color: #01161E;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(214, 234, 223, 0.5);
    font-family: 'Playfair Display', serif;
    margin-left: 10px;
}

fieldset{
    border: none;
}

.add-job-form{
    color: #01161E;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#job-container {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.job-card{
    width: 20%;
    height: 60vh;
    padding: 10px;
    border: 1px solid black;
    margin: 20px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.job-image {
    width: 150px;
}

.map {
    width: 50%;
}

.add-job-container {
    display: none;
    width: 100%;
    height: 150vh;
    padding: 100px;
    background-size: cover;
    margin-bottom: 10px;

}

input {
    padding: 5px;
    border-radius: 5px;
    height: 50px;
    width: 500px;
    color: #01161E;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(239, 246, 224, 0.5);
    border: 2px black solid;
    font-family: 'Playfair Display', serif;
}

label {
    font-size: 20px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    background-image: url("../assets/map.jpg");
    background-size: cover;
}

.close {
    color: #1f1f1f;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}