@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF6E0;
    color: #01161E;
}

.logo {
    width: 280px;
    margin-top: 10px;
}

ul {
    width: 25%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.banner {
    height: 70vh;
    background-image: url("../assets/banner.png");
    background-size: cover;
    margin-bottom: 10px;
}

h1{
    width: 60%;
    padding: 80px 15px;
    color: #01161E;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    font-family: 'Pirata One', cursive;
}

form {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

select {
    padding: 10px 10px 0 10px;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    color: #01161E;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(174, 195, 176, 0.5);
    border: 1px black solid;
}

button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px black solid;
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
    color: #01161E;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(214, 234, 223, 0.5);
}
